@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la tienda online CONSTRUCCION</h1>

    
   

    <img src="https://image.made-in-china.com/2f0j00IiCRhvBbAMcH/Ecuador-Punto-Fijo-Stainless-Steel-Fixed-Point-for-Glass-Door.webp" alt="Imagen de perro " />
</div>
